.border {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.position {
  border: 1px solid rgba(0, 0, 0, 1);
}
.outerAccordion {
  box-shadow: none !important;
}
.dragOver {
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
}
